/* Default */
p.miniblog_info {
    color: __text_neu__;
    margin: 0.2em 0 0.4em;
}

/* Twenty Fifteen*/
.mode_show.home #twentyfifteen__entry,
.mode_show.home #twentyfifteen__entry-content {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

.mode_show.home #twentyfifteen__entry {
    background-color: @ini_background_site;
    margin-left: 1px !important;
}

.mode_show.home #twentyfifteen__entry-content {
    margin-top: 0 !important;
    margin-left: 0 !important;
}
