h1.miniblog_head {
    margin: 0 0 0.2em;
}

p.miniblog_info {
    font-size: 90%;
    color: __text_alt__;
    margin: 0 0 0.4em;
}

div#miniblog_paganition p.less {
    float: left;
}

div#miniblog_paganition p.more {
    float: right;
}
